IO_LOC "clk" 47
IO_LOC "r" 9
IO_LOC "g" 11
IO_LOC "b" 10
IO_LOC "h_sync" 40
IO_LOC "v_sync" 41
IO_LOC "reset" 13
IO_LOC "NE1" 31
IO_LOC "NWE" 30
IO_LOC "ADDR[0]" 20
IO_LOC "ADDRD[1]" 34
IO_LOC "ADDR[2]" 35
IO_LOC "ADDR[3]" 42
IO_LOC "DATA[0]" 23
IO_LOC "DATA[0]" 22
IO_LOC "DATA[0]" 18
IO_LOC "DATA[0]" 17
IO_LOC "DATA[0]" 16
IO_LOC "DATA[0]" 15
IO_LOC "DATA[0]" 28
//IO_LOC "x_0" 31
//IO_LOC "x_1" 30
//IO_LOC "x_2" 29
//IO_LOC "x_3" 19
//IO_LOC "x_4" 20
//IO_LOC "x_5" 34
//IO_LOC "x_6" 35
//IO_LOC "x_7" 42
//IO_LOC "x_8" 39
//IO_LOC "x_9" 38
//IO_LOC "x_10" 28
//IO_LOC "x_11" 27